# Compiled JavaScript files
lib/
node_modules/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Firebase cache
.firebase/

# Firebase debug log files
firebase-debug.log*
firebase-debug.*.log*

# Firebase emulator data
firebase-export-*/
